<!DOCTYPE html>
<html lang="ru-Ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <!-- vendor-->
    <link rel="stylesheet" href="/plugins/arcticmodal/jquery.arcticmodal-0.3.css">
    <link rel="stylesheet" href="/plugins/slick/slick.css">
    <link rel="stylesheet" href="/plugins/fancybox/dist/jquery.fancybox.min.css"><!--[if IE 9]>
    <script type="text/javascript" src="./plugins/html5shiv.min.js"></script><![endif]-->
    <!-- styles-->
    <link rel="stylesheet" href="/css/style.min.css">
	
	<title>{% block title %}ОАО «Пассажирский порт»{% endblock %}</title>
	
  </head>
  <body>
  
  		{% block admin %}
		{% endblock %}
  
  
    <div class="layout">

	  
      <header class="header">
        <div class="container">
          <div class="row">
              <!--<ul class="soc-links soc-links_header">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-vk"></i></a></li>
              </ul>-->
            <ul class="header-contacts">
              <li><a href="tel:78123352196"><i class="icon icon-phone"></i> +7 (812) 335-21-96</a></li>
              <li><a href="mailto:ref@riverport.sp.ru"><i class="icon icon-mail"></i> ref@riverport.sp.ru</a></li>
            </ul>
          </div>
          <div class="row">
            <div class="header__content">
              <div class="container"><a class="logo logo_header" href="{{path('homepage')}}">
                    <div class="logo__img"><img src="/images/logo.png"></div>
                    <div class="logo__description">
                      <div class="logo__name">Пассажирский порт</div>
                      <div class="logo__city">Санкт-Петербург</div>
                    </div></a>
                <nav class="header-nav">
                  <button class="ui-btn nav-toggle" type="button"><i class="icon icon-bar"></i></button>
{{ render(controller('BaseBundle:Menu:getMenu')) }}	
                </nav>
              </div>
            </div>
          </div>
        </div>
      </header>

	  
	 {% block topBanner %}  {% endblock %}

	  
	 {% block body %}{% endblock %}	 
	  

    </div>
    <footer class="footer">
      <div class="footer__top">
        <div class="container">
          <div class="row">
            <div class="col-md-5"><a class="logo logo_footer" href="/">
                  <div class="logo__img"><img src="/images/logo.png"></div>
                  <div class="logo__description">
                    <div class="logo__name">Пассажирский порт</div>
                    <div class="logo__city">Санкт-Петербург</div>
                  </div></a>
            </div>
            <div class="col-md-7 col-lg-6 col-lg-offset-1">
              <nav class="footer-nav">
                <ul>
                  <li><a href="{{path('page',{'url':'about'})}}">О компании</a></li>
                  <li><a href="{{path('page',{'url':'services'})}}">Услуги</a></li>
                  <li><a href="{{path('page',{'url':'safety'})}}">Безопасность</a></li>
                  <li><a href="{{path('page',{'url':'sfleet'})}}">Скоростной флот</a></li>
                  <li><a href="{{path('page',{'url':'contacts'})}}">Контакты</a></li>
                  <li><a href="{{path('page',{'url':'about/news'})}}">Новости</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4 footer-block">
              <div class="footer-block__title">ОАО "Пассажирский порт"</div>
              <div class="footer-block__content">
                <ul class="footer-contacts">
                  <li><i class="fa fa-map-marker"></i>Санкт-Петербург, Октябрьская наб., д. 31</li>
                  <li><i class="fa fa-envelope-o"></i><a href="mailto:ref@riverport.sp.ru">ref@riverport.sp.ru</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 footer-block">
              <div class="footer-block__title">Диспетчерская служба        </div>
              <div class="footer-block__content">
                <ul class="footer-contacts">
                  <li><i class="fa fa-phone"></i><a href="tel:78123352196">+7 (812) 335-21-96</a></li>
                  <li><i class="fa fa-envelope-o"></i><a href="mailto:gldisp@riverport.sp.ru">gldisp@riverport.sp.ru</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2 footer-block">
              <!--<div class="footer-block__title">Следите за нами:  </div>
              <div class="footer-block__content">
                  <ul class="soc-links soc-links_footer">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-vk"></i></a></li>
                  </ul>
              </div>-->
            </div>
            <div class="col-sm-6 col-md-2 col-lg-3"><a class="created" href="http://sitebuilders.ru/" target="_blank"><img src="/images/sitebuilders-logo.png"></a></div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 copyright">Copright &copy;2017. Права на размещенную информацию принадлежат ОАО "Пассажирский порт".</div>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery v3.2.1 -->
    <script type="text/javascript" src="/plugins/jquery.min.js"></script>
    <!-- vendor-->
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript" src="/plugins/arcticmodal/jquery.arcticmodal-0.3.min.js"></script>
    <script type="text/javascript" src="/plugins/slick/slick.min.js"></script>
    <script type="text/javascript" src="/plugins/fancybox/dist/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="/plugins/jquery.maskedinput.min.js"></script>
    <!-- script-->
    <script type="text/javascript" src="/js/app.js"></script>
	
		<script>
			window.onload = function() {
				$('.photo').fancybox();
			{% block javascriptsonload %}{% endblock %}	
			}
		</script>
		{% block javascripts %}{% endblock %}	
	
  </body>
</html>