<!--

<div class="container">
<div class="col-sm-6">
<div class="news-item">
<div class="news-item__img"><img src="/uploads/news1.jpg" /></div>

<div class="news-item__date">18<span>/августа</span></div>

<div class="news-item__content">
<div class="news-item__title">Новый дизайн сайта</div>

<div class="news-item__description">Сегодня мы запускаем новую версию своего сайта. Мы постарались сделать его современным, красивым и удоным для Вас. Спасибо, что уже на протяжении многих лет Вы оставетесь с нами.</div>
<a class="more-link" href="#">Читать далее</a></div>
</div>
</div>

<div class="col-sm-6">
<div class="news-item">
<div class="news-item__img"><img src="/uploads/news2.jpg" /></div>

<div class="news-item__date">3<span>/августа</span></div>

<div class="news-item__content">
<div class="news-item__title">День работников речного и морского флота России</div>

<div class="news-item__description">Поздравляем всех коллег с профессиональным праздником! Желаем успехов вработе, семь футов под килем и сильного ветра в кливер!</div>
<a class="more-link" href="#">Читать далее</a></div>
</div>
</div>
</div>
-->




<div class="container">


{% for newsItem in news %}

	<div class="col-sm-6">
		<div class="news-item">
		{% if newsItem.bannerImg != "" %}
		<div class="news-item__img"><img  src="{{ (upload_path~newsItem.bannerImg) | imagine_filter('banner') }}" alt=""></div>
		{% endif %}
		<div class="news-item__date">{{newsItem.created | localizeddate('full', 'none', null, null, 'dd') }}<span>/{{newsItem.created | localizeddate('full', 'none', null, null, 'MMMM') }}</span></div>
		<div class="news-item__content">
			<div class="news-item__title">{{newsItem.name | raw}}</div>
			<div class="news-item__description">
			{{newsItem.bannerHtml | raw}}
			</div><a class="more-link" href="{{path('page',{'url':newsItem.fullUrl})}}">Читать далее<i class="fa fa-long-arrow-right"></i></a>
		</div>
		</div>
	</div>



{% endfor %}


</div>